@import "icomoon.styl"
@import "fonts.styl"

#acciones
	margin 0
	padding 0.8em
	position fixed
	right 20px
	bottom 20px
	background #eb2025
	border-radius 50%
	text-decoration none
	color white
	font-size 20px
	//z-index 900

#menu_acciones
	margin 0
	padding 0
	list-style none
	position fixed
	right 20px
	bottom 85px
	//z-index 900
	
	li 
		margin 0
		padding 1.3em 0
		
		a 
			margin 0
			padding 0.8em
			background #222
			border-radius 50%
			text-decoration none
			color white
			font-size 20px

	
#cargando
	margin 0
	padding 0
	position fixed
	top 0
	left 0
	bottom 0
	right 0
	background white
	z-index 1000
	display flex
	justify-content center
	align-items center
	
	figure
		margin 0 auto
		padding 0
		width 250px
		
		img
			margin 0
			padding 0
			width 100%
	
	p 
		font-family 'regular'
		font-size 18px
		margin 0 auto
		padding 0
		width 100px

body
	padding 0
	margin 0
	
	#cabecera
		margin 0
		padding 1em 0
		border-bottom 1px solid rgba(0,0,0,0.1)
		-webkit-box-shadow: -1px 6px 10px -5px rgba(0,0,0,0.5);
		-moz-box-shadow: -1px 6px 10px -5px rgba(0,0,0,0.5);
		box-shadow: -1px 6px 10px -5px rgba(0,0,0,0.5);
		
		#logo
			margin 0 
			padding 0
			
			figure
				margin 0 auto
				padding 0
				width 125px
				
				img
					margin 0
					padding 0
					width 100%
		
		#menu
			display none
	
		#opciones
			margin 0
			padding 0.6em 1.3em 0 1.3em
			text-align center
			
			#redes, #link_menu
				display inline-block
				vertical-align middle
				
			#redes
				margin 0
				padding 0
				list-style none
				
				li 
					margin 0
					padding 0 0.3em
					display inline-block
					vertical-align middle
					
					a 
						margin 0
						padding 0
						font-size 30px
						text-decoration none
						color #666
			
			#link_menu
				float right
				margin 0
				padding 0
				font-size 30px
				text-decoration none
				color #666

	#slider		
		margin 0
		padding 0
		
		ul 
			margin 0
			padding 0
			
			li
				margin 0
				padding 0
				width 100%
				
				figure
					margin 0
					padding 0
					width 100%
					
					img 
						margin 0
						padding 0
						width 100%
	
	#mapa
		display none
	
	#seccion
		margin 0
		padding 1em 0
		text-align center
		
		.titulo
			margin 0
			padding 1em 0
			font-family negrita
			font-weight 400
			font-size 20px
			color #666
		
		.contenido
			margin 0
			padding 0.3em 0
			
			p 
				font-family condensada
				font-size 15px
				font-weight 400
				color #999
				margin 0
				padding 0 1em
	
	#seccion:last-child
		padding 1em 0 0 0
	
	.alternativa
		background #f7f7f7
		
		.ubicacion
			text-decoration none
			color white
			margin 0
			padding 0.5em 1em
			border 1px solid rgba(0,0,0,0.2)
			border-radius 0.4em
			background red
			
			span 
				margin 0
				padding 0 0.5em 0 0
				
	
	#pie
		margin 0
		padding 3em 0.5em
		background #131920
		
		.seccion_pie
			margin 0
			padding 1em
			
			.subtitulo
				margin 0
				padding 0
				font-family negrita
				font-weight 400
				font-size 15px
				color #999
				text-transform uppercase
			
			ul 
				margin 0
				padding 1em 0 0 2em
				list-style none
				
				li 
					margin 0
					padding 0.4em 0
					font-family regular
					font-weight 400
					font-size 14px
					color white					
		
	.final_pie
		margin 0
		padding 1em 1em
		background #0b0c0e
		text-align center
		
		p 
			margin 0
			padding 0 
			color #999
			font-size 13px
			font-weight 400
			font-family condensada
			
			span
				margin 0
				padding 0
				color red

#productos
	margin 0
	padding 0
	list-style none
	
	.item
		margin 0
		padding 1em 0
		
		figure
			margin 0
			padding 0 
			width 100%
			
			img
				margin 0
				padding 0
				width 100%
		
		.barra
			margin 0
			padding 0.5em 0
			text-align center
			
			h1 
				font-family negrita
				font-size 19px
				font-weight 400
				color #666
				margin 0
				padding 0.2em 0
				text-transform uppercase
				
			p 
				font-family condensada
				font-size 14px
				font-weight 400
				color #999
				margin 0
				padding 0.1em 0
				
			.precio
				font-family negrita
				font-size 16px
				color red				


@media screen and (max-width: 1600px) and (min-width: 600px)

	body
		background white
		
		#cabecera
			margin 0
			padding 1em 3em
			border-bottom 1px solid rgba(0,0,0,0.2)
			position fixed
			top 0
			left 0
			right 0
			background white
			z-index 10000
			
			#logo, #menu, #opciones
				display inline-block
				vertical-align middle
			
			#logo 
				
				figure
					width 80px
			
			#menu
				margin 0
				padding 0 4em
				list-style none
				
				li 
					margin 0 
					padding 0 0.8em
					display inline-block
					border-right 1px solid #c5c5c5
					
					a 
						text-decoration none
						transition all 0.3s linear
						font-family 'condensada'
						font-size 18px
						color #a0a0a0
						
					a:hover
						color red
				
				li:last-child
					border-right 0px
			
			#opciones
				float right
				margin 0
				padding 1em 0
				
				#redes
					
					li 
						
						a 
							transition all 0.3s linear
						a:hover
							color red
		
		#seccion
			
			.contenido				
				
				#productos
					
					.item
						width 29%
						display inline-block
						vertical-align top
						cursor pointer
						
					.item:hover
						
						.barra
							
							.precio
								color black
								transition all 0.2s linear
		
		#acciones
			display none
		
		#mapa
			margin 0
			padding 0 
			width 100%
			height 300px
			display block