@import 'fonts.styl'

#sin_productos
	margin 0
	padding 0 1em 0 0
	text-align center
	display none
	
	p 
		color white
		background #E91E63
		border 1px solid
		margin 0 auto
		padding 0.5em 0.7em
		width 90%

#editar, #nuevo
	margin 0
	padding 0
	position fixed
	bottom 0
	left 0 
	right 0
	height 300px
	border-top 1px solid rgba(0,0,0,0.3)
	text-align center
	display none
	background white
	
	p 
		margin 0
		padding 1em 0
		font-size 15px
		color #333
	
	.grupo
		margin 0
		padding 0.5em 0.8em
		text-align left
		
		label, input
			display block
			width 100%
		
		label 
			font-size 13px
			color #666
		
		input
			font-size 20px
			color #333
			border 1px solid rgba(0,0,0,0.2)
			border-radius 0.2em
	
	ul 
		margin 0
		padding 1em 0 0 0
		list-style none
		
		li 
			margin 0
			padding 0
			display inline-block
			vertical-align top
			
			a, .boton 
				margin 0
				padding 0.5em 0.8em
				text-decoration none
				border 1px solid rgba(0,0,0,0.2)
				border-radius 0.3em
				color #00F
				background white
			
			.boton
				margin-top -9px
				

#mensaje
	margin 0
	padding 0
	position fixed
	bottom 0
	left 0 
	right 0
	height 50px
	border-top 1px solid rgba(0,0,0,0.3)
	text-align center
	display none
	background white
	
	p 
		margin 0
		padding 1em 0
		font-size 15px
		color #333

#eliminar
	margin 0
	padding 0
	position fixed
	bottom 0
	left 0 
	right 0
	height 100px
	border-top 1px solid rgba(0,0,0,0.3)
	text-align center
	display none
	background white
	
	p 
		margin 0
		padding 1em 0
		font-size 15px
		color #333
	
	ul 
		margin 0
		padding 0.3em 0 0 0
		list-style none
		
		li 
			margin 0
			padding 0
			display inline-block
			vertical-align top
			
			a 
				margin 0
				padding 0.5em 0.8em
				text-decoration none
				border 1px solid rgba(0,0,0,0.2)
				border-radius 0.3em
				color #00F

#productos
	margin 0
	padding 0
	list-style none
	
	.item
		margin 0
		padding 0
		display block		
		position relative
		
		.cabeza
			margin 0
			padding 0.3em
			position absolute
			top 5px
			left 5px
			width 95%
			
			span, h2
				margin 0
				padding 0
				display inline-block
				vertical-align bottom
				color white
			
			span
				font-size 20px
				
			h2 
				font-size 17px
				padding 0.15em 0.5em 0 0.5em
				font-weight 400
			
			h2:last-child
				float right
				font-weight bold
		
		figure
			margin 0
			padding 0
			width 100%
			
			img
				margin 0
				padding 0
				width 100%
		
		.opciones
			margin 0
			padding 0
			list-style none
			position absolute
			right 5px
			bottom 15px
			
			li 
				margin 0
				padding 0
				display inline-block
				vertical-align middle
				
				a 
					text-decoration none
					margin 0
					padding 0 0.2em
					font-size 30px
					color white

body 
	padding 0 
	margin 0
	
	#cabecera
		margin 0
		padding 1em 0
		border-bottom 1px solid rgba(0,0,0,0.1)
		-webkit-box-shadow: -1px 6px 10px -5px rgba(0,0,0,0.5);
		-moz-box-shadow: -1px 6px 10px -5px rgba(0,0,0,0.5);
		box-shadow: -1px 6px 10px -5px rgba(0,0,0,0.5);
		text-align center
		
		#logo
			margin 0 
			padding 0
			
			figure
				margin 0 auto
				padding 0
				width 125px
				
				img
					margin 0
					padding 0
					width 100%
		
		a 
			margin 0
			padding 0.3em 0.7em
			text-decoration none
			border 1px solid rgba(0,0,0,0.2)
			border-radius 0.3em
			color #666